# Basic Examples

## Import the libraries

In [3]:
# General libraries
import pandas as pd

# Seagull libraries
from src.Seagull.Seagull import Seagull

## 1.- Creating a Seagull object

In [4]:
# Create the object
my_dF = Seagull()

# Print only the data (all of it by default)
print(my_dF)
print()

# Print the overview of the data which includes dimensions,
# datatypes and a preview of the data (5 rows by default)
print(my_dF.str_overview())

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0

---------------
 rows x columns: 3 x 4
---------------
 Datatypes:
     0 | 0 : Float64
     1 | 1 : Float64
     2 | 2 : Float64
     3 | 3 : Float64
---------------
    Preview
---------------
     0    1    2    3
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
---------------

## 2.- With given dimensions

In [5]:
my_dF = Seagull(5,4)
print(my_dF)

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0

## 3.- With given dimensions and types

In [6]:
my_dF = Seagull(5,4, ["int","float","str", "date"])
print(my_dF.str_overview())

---------------
 rows x columns: 5 x 4
---------------
 Datatypes:
     0 | 0 : Int64
     1 | 1 : Float64
     2 | 2 : object
     3 | 3 : datetime64[ns]
---------------
    Preview
---------------
   0    1  2   3
0  0  0.0  0 NaT
1  0  0.0  0 NaT
2  0  0.0  0 NaT
3  0  0.0  0 NaT
4  0  0.0  0 NaT
---------------

## 4.- With types only and no dimensions

In [7]:
my_dF = Seagull(10, dtypes = ["int","float","str", "date", "int", "float"])
print(my_dF)

   0    1  2   3  4    5
0  0  0.0  0 NaT  0  0.0
1  0  0.0  0 NaT  0  0.0
2  0  0.0  0 NaT  0  0.0
3  0  0.0  0 NaT  0  0.0
4  0  0.0  0 NaT  0  0.0
5  0  0.0  0 NaT  0  0.0
6  0  0.0  0 NaT  0  0.0
7  0  0.0  0 NaT  0  0.0
8  0  0.0  0 NaT  0  0.0
9  0  0.0  0 NaT  0  0.0

## 5.- With wrong types and less types than dimensions

In [8]:
my_dF = Seagull(5,4, ["WHAT?", "str", "date"])
print(my_dF)

WARNING!: Fewer dtpyes than columns!

          I'm using the last one to fill the rest.

WARNING!: Uknown serie type (WHAT?), using float instead

     0  1   2   3
0  0.0  0 NaT NaT
1  0.0  0 NaT NaT
2  0.0  0 NaT NaT
3  0.0  0 NaT NaT
4  0.0  0 NaT NaT

## 6.- With more types than dimensions

In [9]:
my_dF = Seagull(5,4, ["int","float","str", "date", "date"])
print(my_dF)

WARNING: More dtpyes than columns!

         I'm ignoring the extra ones.

   0    1  2   3
0  0  0.0  0 NaT
1  0  0.0  0 NaT
2  0  0.0  0 NaT
3  0  0.0  0 NaT
4  0  0.0  0 NaT

## 7.- Creating from pandas dataframe

In [10]:
# Defining the data for each column
data = {
    'ID': [1, 2, 3, 4, 5],                                                # Integer data
    'Weight': [60.5, 70.2, 55.9, 85.3, 68.7],                             # Float data
    'Birthday': pd.to_datetime(['1990-01-01', '1992-05-15', '1985-07-30',
                                '1988-11-25', '1993-03-05']),             # Date data
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],                  # String data
    'Nationality': pd.Categorical(['American', 'British', 'Canadian',
                                    'Dutch', 'Estonian'])                 # Categorical data
}

# Create a Panda DataFrame
my_panda_df   = pd.DataFrame(data)

# Convert to Seagull object
my_seagull_dF = Seagull.from_pandasDF(my_panda_df)

# Show the data
print(my_seagull_dF)

   ID  Weight   Birthday     Name Nationality
0   1    60.5 1990-01-01    Alice    American
1   2    70.2 1992-05-15      Bob     British
2   3    55.9 1985-07-30  Charlie    Canadian
3   4    85.3 1988-11-25    David       Dutch
4   5    68.7 1993-03-05      Eva    Estonian

## 8.- Creating from pandas series

Is important to notice that panda series are not dataframes. This convert the series automatically into a dataframe with proper data structure which you can use later to do a plot, analysis, or whatever.

In [11]:
my_panda_series = my_panda_df['ID']

my_seagull_dF   = Seagull.from_pandasSeries(my_panda_series)
print(my_seagull_dF)

   ID
0   1
1   2
2   3
3   4
4   5

## 9.- Creating from CSV file

In [12]:
my_dF = Seagull()
my_dF.loadFromCSV(csv_path = "datasets/iris_dataset.csv")
print(my_dF.str_overview())

---------------
 rows x columns: 150 x 5
---------------
 Datatypes:
     0 | sepal length (cm) : float64
     1 | sepal width (cm)  : float64
     2 | petal length (cm) : float64
     3 | petal width (cm)  : float64
     4 | target            : object
---------------
    Preview
---------------
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

        target
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa
---------------

In [13]:







# This has nothing to do with constructors
# Move to another file
print("---------------------------------------------------------------")
print(" 9.- Transposing")
print("---------------------------------------------------------------")
print()    

#my_dF = Seagull(5,4)
#my_dF.randomize()
#my_dF.round()
#print(my_dF)
#my_dF.transpose()
#print(my_dF)

---------------------------------------------------------------
 9.- Transposing
---------------------------------------------------------------